@layout('layout/main')
@section('body')
<div class="container" style="text-align:center">
    <h1 class="text-center">WELCOME</h1>
    <a class="btn btn-primary btn-lg" aria-current="page" href= "{{route('news_view')}}" >View</a>
    <a href="{{route('news_create')}}" class="btn btn-secondary btn-lg">Create</a>
</div>
@end